* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  
}
#dashboard-style {
  display: grid;
  grid-template-columns: repeat(5,200px);
  grid-template-rows: repeat(7, 1fr);
}

#sidebar{
  grid-row: 1 / span 7;
  grid-column: 1 / span ;
  background: #3c3c3b 0% 0% no-repeat padding-box;
}

#page-style {
  grid-column: 2 / span 6;
  grid-row: 1 / span 7;
  padding: 10px;
  background-color: #F6FAFB;
  margin-left: 10px;
}

