#logo {
  background: transparent url("../images/Image\ 2.png") 0% 0% no-repeat
    padding-box;
  width: 200px;
  height: 100px;
  margin-top: 10px;
  margin: auto;
}
#img-link-container {
  margin-top: 3vw;
}
.loginSubcontainer{
  display: flex;
}

#home-Logo,
#port-Logo,
#setting-Logo {
  width: 20px;
  height: 20px;
  margin-right: 0.5vw;
}
#home-Logo {
  background: transparent url("../images/home.svg") 0% 0% no-repeat padding-box;
}
#port-Logo {
  background: transparent url("../images/Min_portfolio_ikon.png") 0% 0% no-repeat padding-box;
}
#setting-Logo {
  background: transparent url("../images/cog.svg") 0% 0% no-repeat padding-box;
}

.inactive {
  text-decoration: none;
  color: #fdcc6b;
  display: flex;
  align-items: center;
  padding: 14px;
  opacity: 0.5;
  background-color: #363636;
}

.active {
  text-decoration: none;
  color: #fdcc6b;
  display: flex;
  align-items: center;
  padding: 14px;
  background-color: #292928;
  opacity: 1;
}
.inactive:hover {
  color: #fdcc6b;
  background-color: #292928;
  opacity: 1;
}

#sidebarfoot {
  margin-top: 45vh;
}

#slash {
  width: 6.9vw;
  height: 1px;
  background-color: #fdcc6b;
  margin: auto;
  opacity: 0.5;
}
#logout-img{
  margin-right: 6px;
}

#logout {
  background-color: #3c3c3b;
  border: none;
  outline: none;
  color: #fdcc6b;
  font-size: 15px;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 10px;
  opacity: 0.5;
}

#logout:hover {
  opacity: 1;
  transition: ease-out 0.2s;
}
