#setting-container {
  display: block;
  width: 100%;
}
#settingStyle {
  margin-bottom: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 15px #45414e14;
  border-radius: 4px;
}

#container {
  border-bottom: #45414e14 1px solid;
  margin-left: 20px;

  display: flex;
  margin-bottom: 10px;
}

.active-setting {
  margin-right: 15px;
  color: #fdcc6b;
  border-bottom: #fdcc6b 1px solid;
  padding: 10px;
}
.inactive-setting {
  color: #a1a8c3;
  margin-right: 15px;
  padding: 10px;
}
