*
{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

.App {
  text-align: center;
  min-height: 90vh;  
  background: #F6FAFB 0% 0% no-repeat padding-box
  
}





.possession{
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.possession-amount{
  font-size: 40px;
}







