#registerContainer {
  background: linear-gradient(
      #d4c0ae,
      rgba(82, 70, 34, 0.5),
      #d4c0ae
    ),
    url("../../images/finance.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  color: white;
}
