#registerContainer {
  background: linear-gradient(
      #d4c0ae,
      rgba(82, 70, 34, 0.5),
      #d4c0ae
    ),
    url("../../images/finance.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  color: white;
}

#succeededStyle{
  background: rgb(89, 141, 5) 0% 0% no-repeat padding-box;
  text-align: center;
  padding: 15px 0px;
  letter-spacing: 2px;
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
}
.backBtnStyle{
  border-radius: 4px;
  border: none;
  outline: none;
  width: 300px;
  height: 50px;
  margin-top: 50px;
  background-color:rgb(189, 173, 52) ;
  font-size: 18px;
  color: white;
}
.backBtnStyle:hover{
  background-color:#dda639;
}
.hide{ 
 display: none;
}
.show{ 
  z-index: 1;
}

