#resetContainer {
  min-height: 100vh;
  background: linear-gradient(
    #d4c0ae,
    rgba(82, 70, 34, 0.5),
    #d4c0ae
  ),
  url("../../images/tree.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

}
#resetTitle{
    color: white;
    position: absolute;
    top: 30%;
    right: 15%;
   
}
#resetForm{
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: center;
    position: absolute;
    top: 50%;
    right:0;
    
}
#textAndLable {
  display: flex;
  margin-right: 20px;
  justify-content: space-between;
  color: white;
  font-size: 20px;
  
}
.input-Style {
  border-radius: 4px;
  border: none;
  outline: none;
  margin-left: 10px;
  width: 200px;
  height: 32px;
}
